html, body, #___gatsby, #gatsby-focus-wrapper {
	height: 100%;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 13px;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #ddd;
  margin-left: 0;
  padding-left: 1rem;
}

.gatsby-highlight {
  margin-bottom: 1.5rem;
}

p:has(> svg[id^='mermaid-']) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#mermaid-0 {
  font-size: 15px !important;
}